nav {
  background: $brand-dark;
  background: linear-gradient(to right, $brand-dark, $brand-light);
  -webkit-font-smoothing: subpixel-antialiased;
  height: $nav-height;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  button.mobile-dropdown {
    display: none;
  }

  ul {
    margin: 0 auto;
    max-width: $desktop-breakpoint;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      float:left;

      &:nth-child(1) {
        font-size: 1.25em;

        a {
          padding: 1.3em 1em .7em;
        }
      }
    }

    a {
      color: #fff;
      display: block;
      text-align: center;
      text-decoration: none;
      padding: 1.875em 1.25em .875em;
      line-height: 1em;

      &:visited {
        color: #fff;
      }

      &:hover {
        background-color: #fff;
        color: $brand-dark;
        text-decoration: none;
      }
    }

    & li.active a {
      background-color: #fff;
      color: $brand-dark;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  nav {
    height: $mobile-nav-height;

    button.mobile-dropdown {
      color: #fff;
      display: block;
      position: absolute;
      padding: 0;
      right: 1em;
      top: .375em;
      border: none;
      background: none;
    }

    ul {
      li {
        // text-align: left;
        // display: list-item;
        a {
          padding: .6em .8em .6em !important;
          clear: both;
        }

        display: none !important;
        // display: list-item;
        float: none !important;
        margin: 0 !important;
        padding: 0 !important;
        background: $brand-dark;
        background: linear-gradient(to right, $brand-dark, $brand-light);

        &:nth-of-type(1) {
            display: block !important;
        }

          a {
            text-align: left !important;
          }
      }
    }

    // ul li:not(ul li:nth-child(1)) {
    //   display: none;
    // }
  }
}
