img {
  display: block;
  max-height: calc(100vh - #{$nav-height});
  max-width: 100%;

  &.overflow {
    max-height: none;
  }
}

.page-heading {
  margin-left: 1em;
}

main {

  article.thumb {
    width: 33%;
    float: left;
    height: 20em;
    position: relative;
    background-position: center center;
    background-size: cover;

    div {
      position: absolute;
      bottom: 1em;
      left: 1em;

      h2,
      p {
        margin: 0;
      }

      h2 {
        font-size: 2em;
      }
    }

    &::before {
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.3), rgba(0,0,0,1));
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  aside {
    border-top: $one-px solid #e8e8e8;

    h3 {
      // font-size: 1.75em;
      font-size: 3em;
      margin: .25em 0 0;
    }

    p {
      font-size: 1.25em;
      float: left;
      margin: 1em 1em .5em 0;
      width: calc(50% - 2em);
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &.thumbnail-list {
    a {
      color: #fff;

      &:visited {
        color: #fff;
      }
    }

    &::after {
      content: '';
      display: block;
      clear: both;
      width: 100%;
    }

  }

  &.post {
    padding: 0 1em;
  }

  header {
    // height: 30em;
    height: calc(100vh - #{$nav-height});
    width: 100vw;
    margin-left: calc(-1 * ((100vw - 100%) / 2));
    margin-top: -1em;
    position: relative;
    background-size: cover;
    background-position: center center;
    transition: height .5s ease-in-out;

    .details {
      bottom: 1em;
      left: calc((100vw/2) - (#{$desktop-breakpoint}/2) + 1em);
      color: #fff;
      position: absolute;
    }

    h1,
    p {
      margin: 0;
    }

    h1 {
      font-size: 5em;
    }

    p {
      font-size: 2em;
    }

    time {
      display: none;
    }

    &::before {
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.3), rgba(0,0,0,1));
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: $desktop-breakpoint - $one-px) and
(min-width: $mobile-breakpoint) {
  main {
    article.thumb {
      width: 50%;
    }
    header {

      .details {
        left: calc((100vw/2) - (#{$mobile-breakpoint}/2) + 1em);
      }
    }
  }
}

@media screen and (max-device-width: 64em) and
(min-device-width: $mobile-breakpoint) {
  main {
    header.js-mobile-safari-fix {
        height: calc(100vh - #{$nav-height}*2.3); // iOS viewport includes Safari's overlaying UI elements
    }
  }

  img.overflow {
    max-width: 100vw;
    margin-left: calc(-1 * ((100vw - 100%) / 2));
  }

}

@media screen and (max-width: $mobile-breakpoint - $one-px) {
  img.overflow {
    max-width: 100vw;
    margin-left: -1em;
  }

  main {
    aside {
      p {
        float: none;
        width: 100%;
      }
    }
    header {
      height: calc(100vh - #{$mobile-nav-height});
      margin-top: -1em;

      h1 {
        font-size: 3em;
      }

      p {
        font-size: 1.5em;
      }

      .details {
        left: 1em;
      }

      &.js-mobile-safari-fix {
        height: calc(100vh - #{$mobile-nav-height}*2.5); // iOS viewport includes Safari's overlaying UI elements
      }
    }
  }

  main article.thumb {
    width: 100%;
  }
}
