---
layout: default
---
<main class="post">

  <header style="background-image: url({{ site.uploads_path }}{{ page.date | date: "%Y/%m" }}/{{ page.image }});">
    <div class="details">
      <h1>{{ page.title }}</h1>
      <p><i class="fa fa-{{ page.blurb[0] }}"></i> {{ page.blurb[1] }}</p>
    </div>
    <time datetime="{{page.date | date: "%Y-%m-%d" }}">{{page.date | date: "%Y-%m-%d" }}</time>
  </header>

  <article>
    {{ content }}
  </article>

  <aside>
    <h3>TL;DR</h3>
    {% for callout_hash in page.callouts %}
      {% for callout in callout_hash %}
        <p><i class="fa fa-{{ callout[0] }}"></i> {{ callout[1] }}</p>
      {% endfor %}
    {% endfor %}
  </aside>

</main>
